<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="/student/login/" method="post">
        {% csrf_token %}<!-- 防止出现403错误 -->
        <!-- /student/表示根路径
              student/表示相对路径
              在此处使用相对路径，会导致每次请求加载页面的路径出现重复的student-->
        <p>
            <label>用户名：</label><input type="text" name="uname"/>
        </p>
        <p>
            <label>密&emsp;码：</label><input type="password" name="pwd"/>
        </p>
        <p>
            <label>&emsp;&emsp;&emsp;&emsp;</label><input type="submit" value="登录"/>
        </p>

    </form>
</body>
</html>